{% extends "base.html" %}
{% block title %}allFlags{% endblock %}
{% block content %}

<!-- Style definitions for the grid and flag containers -->
<style>
    #flagForm {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 10px;
        justify-content: center;
    }

    .flag-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .flag-container img {
        width: 250px;
        height: 150px;
        border: 2px solid grey;
    }
</style>

<!-- Headings for the page -->
<h2 style="text-align: center; padding-top: 30px;">All Flags of the World</h2>
<h5 style="text-align: center; color: grey; padding-bottom: 30px;">Ordered by Continents</h5>

<!-- Flags ordered by continents -->
<div style="width: 100%; text-align: center; padding-bottom:20px;">
    <hr>
    <h3>Europe</h3>
    <hr>
</div>

<!-- Form for European flags -->
<form id="flagForm">
    {% for country in country_names_list[0] %}
        {% set path = '/flags/' + country + '.png' %} 
        <div class="flag-container">
            <img src="{{ url_for('static', filename=path) }}" alt="{{ country }}">
            {% set country = country.replace('_', ' ') %}
            <p><b>{{ country }}</b></p>
        </div>
    {% endfor %}
</form>

<div style="width: 100%; text-align: center; padding-bottom:20px;">
    <hr>
    <h3>Asia</h3>
    <hr>
</div>

<!-- Form for Asian flags -->
<form id="flagForm">
    {% for country in country_names_list[1] %}
        {% set path = '/flags/' + country + '.png' %} 
        <div class="flag-container">
            <img src="{{ url_for('static', filename=path) }}" alt="{{ country }}">
            {% set country = country.replace('_', ' ') %}
            <p><b>{{ country }}</b></p>
        </div>
    {% endfor %}
</form>

<div style="width: 100%; text-align: center; padding-bottom:20px;">
    <hr>
    <h3>North America</h3>
    <hr>
</div>

<!-- Form for North American flags -->
<form id="flagForm">
    {% for country in country_names_list[2] %}
        {% set path = '/flags/' + country + '.png' %} 
        <div class="flag-container">
            <img src="{{ url_for('static', filename=path) }}" alt="{{ country }}">
            {% set country = country.replace('_', ' ') %}
            <p><b>{{ country }}</b></p>
        </div>
    {% endfor %}
</form>

<div style="width: 100%; text-align: center; padding-bottom:20px;">
    <hr>
    <h3>South America</h3>
    <hr>
</div>

<!-- Form for South American flags -->
<form id="flagForm">
    {% for country in country_names_list[3] %}
        {% set path = '/flags/' + country + '.png' %} 
        <div class="flag-container">
            <img src="{{ url_for('static', filename=path) }}" alt="{{ country }}">
            {% set country = country.replace('_', ' ') %}
            <p><b>{{ country }}</b></p>
        </div>
    {% endfor %}
</form>

<div style="width: 100%; text-align: center; padding-bottom:20px;">
    <hr>
    <h3>Africa</h3>
    <hr>
</div>

<!-- Form for African flags -->
<form id="flagForm">
    {% for country in country_names_list[4] %}
        {% set path = '/flags/' + country + '.png' %} 
        <div class="flag-container">
            <img src="{{ url_for('static', filename=path) }}" alt="{{ country }}">
            {% set country = country.replace('_', ' ') %}
            <p><b>{{ country }}</b></p>
        </div>
    {% endfor %}
</form>

<div style="width: 100%; text-align: center; padding-bottom:20px;">
    <hr>
    <h3>Oceania</h3>
    <hr>
</div>

<!-- Form for flags of Oceania -->
<form id="flagForm">
    {% for country in country_names_list[5] %}
        {% set path = '/flags/' + country + '.png' %} 
        <div class="flag-container">
            <img src="{{ url_for('static', filename=path) }}" alt="{{ country }}">
            {% set country = country.replace('_', ' ') %}
            <p><b>{{ country }}</b></p>
        </div>
    {% endfor %}
</form>

{% endblock %}
