{% extends "base.html" %}
{% block title %}allFlags{% endblock %}
{% block content %}

<!-- Style definitions for the grid and flag containers -->
<style>
    #flagForm {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 10px;
        justify-content: center;
    }

    .flag-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .flag-container img {
        width: 250px;
        height: 150px;
        border: 2px solid grey;
    }
</style>

<!-- Headings for the page -->
<h2 style="text-align: center; padding-top: 30px; padding-bottom: 15px;">All Flags of the World</h2>
<hr>

<!-- Form for all flags -->
<form id="flagForm">
    {% for i in country_names %}
        {% set path = '/flags/' + i + '.png' %} 
        <div class="flag-container">
            <img src="{{ url_for('static', filename=path) }}" alt="{{ i }}">
            {% set i = i.replace('_', ' ') %}
            <p><b>{{ i }}</b></p>
        </div>
    {% endfor %}
</form>

{% endblock %}
