{% extends "base.html" %}
{% block title %}allFlags{% endblock %}
{% block content %}

<!-- Stildefinitionen für das Grid und die Flaggencontainer -->
<style>
    #flagForm {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 10px;
        justify-content: center;
    }

    .flag-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .flag-container img {
        width: 250px;
        height: 150px;
        border: 2px solid grey;
    }
</style>

<!-- Überschriften für die Seite -->
<h2 style="text-align: center; padding-top: 30px;">All Flags of the World</h2>
<h5 style="text-align: center; color: gray; padding-bottom: 30px;">Ordered by Continents</h5>

<!-- Flaggen nach Kontinenten geordnet -->
<div style="width: 100%; text-align: center; padding-bottom:20px;">
    <hr>
    <h3>Europe</h3>
    <hr>
</div>

<!-- Formular für Europäische Flaggen -->
<form id="flagForm">
    {% for i in country_names_list[0] %}
        {% set path = '/flags/'+i+'.png' %} 
        <div class="flag-container">
            <img src="{{ url_for('static', filename = path) }}" alt="{{ i }}">
            {% set i = i.replace('_', ' ') %}
            <p><b>{{ i }}</b></p>
        </div>
    {% endfor %}
</form>

    <div style="width: 100%; text-align: center; padding-bottom:20px;">
        <hr>
            <h3>Asia</h3>
        <hr>
    </div>

<!-- Formular für Asiatische Flaggen -->
<form id="flagForm">
    {% for i in country_names_list[1] %}
        {% set path = '/flags/'+i+'.png' %} 
        <div class="flag-container">
            <img src="{{ url_for('static', filename = path) }}" alt="{{ i }}">
            {% set i = i.replace('_', ' ') %}
            <p><b>{{ i }}</b></p>
        </div>
    {% endfor %}
</form>

    <div style="width: 100%; text-align: center; padding-bottom:20px;">
        <hr>
            <h3>North America</h3>
        <hr>
    </div>

<!-- Formular für Nord Amerikanische Flaggen -->
<form id="flagForm">
    {% for i in country_names_list[2] %}
        {% set path = '/flags/'+i+'.png' %} 
        <div class="flag-container">
            <img src="{{ url_for('static', filename = path) }}" alt="{{ i }}">
            {% set i = i.replace('_', ' ') %}
            <p><b>{{ i }}</b></p>
        </div>
    {% endfor %}
</form>

    <div style="width: 100%; text-align: center; padding-bottom:20px;">
        <hr>
            <h3>South America</h3>
        <hr>
    </div>

<!-- Formular für Süd Amerikanische Flaggen -->
<form id="flagForm">
    {% for i in country_names_list[3] %}
        {% set path = '/flags/'+i+'.png' %} 
        <div class="flag-container">
            <img src="{{ url_for('static', filename = path) }}" alt="{{ i }}">
            {% set i = i.replace('_', ' ') %}
            <p><b>{{ i }}</b></p>
        </div>
    {% endfor %}
</form>

    <div style="width: 100%; text-align: center; padding-bottom:20px;">
        <hr>
            <h3>Africa</h3>
        <hr>
    </div>

<!-- Formular für Afrikanische Flaggen -->
<form id="flagForm">
    {% for i in country_names_list[4] %}
        {% set path = '/flags/'+i+'.png' %} 
        <div class="flag-container">
            <img src="{{ url_for('static', filename = path) }}" alt="{{ i }}">
            {% set i = i.replace('_', ' ') %}
            <p><b>{{ i }}</b></p>
        </div>
    {% endfor %}
</form>

    <div style="width: 100%; text-align: center; padding-bottom:20px;">
        <hr>
            <h3>Oceania</h3>
        <hr>
    </div>

<!-- Formular für Flaggen Ozianiens -->
<form id="flagForm">
    {% for i in country_names_list[5] %}
        {% set path = '/flags/'+i+'.png' %} 
        <div class="flag-container">
            <img src="{{ url_for('static', filename = path) }}" alt="{{ i }}">
            {% set i = i.replace('_', ' ') %}
            <p><b>{{ i }}</b></p>
        </div>
    {% endfor %}
</form>


{% endblock %}
