{% extends "base.html" %}
{% block title %}Change Username{% endblock %}
{% block content %}
<style>
  /* Style definitions for the icon that shows/hides the password */
  .field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    margin-right: 10px;
    margin-bottom: 3px;
    cursor: pointer;
  }

  form {
    max-width: 800px;
    margin: 90px auto;
    background-color: rgba(255, 255, 255, 0.8); /* RGBA for transparency */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional box shadow for a subtle lift */
  }
</style>

<!-- Form for changing the username -->
<form method="POST">
    <h3 align="center">Change User</h3>

    <!-- Input field for the username -->
    <div class="form-group">
      <label for="firstName">Username</label>
      <div style="font-size: 14px" id="info_text"></div>
      <!-- Username input field with onBlur event to display the previous username -->
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        value="{{user_name}}"
        color="Black"
        onblur="show_text()"
      />
    </div>

    <!-- Input field for the new password -->
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="New Password"
      />
      <!-- Button to toggle password visibility -->
      <span class="fa fa-fw fa-eye field-icon toggle-password1" onclick="togglePasswordVisibility()"></span>
    </div>
    <br />

    <!-- Button to change the username -->
    <button type="submit" class="btn btn-primary">Change</button>  
</form>

<script>
  // Function to display the previous username
  function show_text() {
    document.getElementById("info_text").innerText = "The previous Username has been: {{user_name}}";
  }    

  // Function to toggle password visibility
  function togglePasswordVisibility() {
    const passwordInput = document.getElementById('password'); 
    const icon = document.querySelector('.toggle-password');

    if (passwordInput.type === 'password') { 
      passwordInput.type = 'text';
      icon.classList.remove('fa-eye');
      icon.classList.add('fa-eye-slash');
    } else {
      passwordInput.type = 'password';
      icon.classList.remove('fa-eye-slash');
      icon.classList.add('fa-eye');
    }
  }
</script>

{% endblock %}
