{% extends "base.html" %}

{% block title %}Change Username{% endblock %}

{% block content %}
<style>
  .field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    margin-right: 10px;
    margin-bottom: 3px;
    cursor: pointer;
  }
</style>
  <form method="POST">
    <h3 align="center">Change Password</h3>
    <div class="form-group">
      <label for="firstName">Email</label>
      <div style="font-size: 14px" id="info_text"></div>
      <input
        type="text"
        class="form-control"
        value="{{email}}"
        color="Black"
        disabled="true"
      />
    </div>
    <div class="form-group">
        <label for="password">Previous Password</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Old Password"
        />
        <span class="fa fa-fw fa-eye field-icon toggle-password1" onclick="togglePasswordVisibility1()"></span>
      </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="New Password"
      />
      <span class="fa fa-fw fa-eye field-icon toggle-password2" onclick="togglePasswordVisibility2()"></span>
    </div>
    <div class="form-group">
      <label for="password2">Password (Confirm)</label>
      <input
        type="password"
        class="form-control"
        id="password3"
        name="password3"
        placeholder="Confirm new password"
      />
      <span class="fa fa-fw fa-eye field-icon toggle-password3" onclick="togglePasswordVisibility3()"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Change</button>  
  </form>

  <script> 
  
    function togglePasswordVisibility1() {
      const passwordInput = document.getElementById('password1'); 
      const icon = document.querySelector('.toggle-password1');
  
      if (passwordInput.type === 'password') { 
        passwordInput.type = 'text';
        icon.classList.remove('fa-eye');
        icon.classList.add('fa-eye-slash');
      } else {
        passwordInput.type = 'password';
        icon.classList.remove('fa-eye-slash');
        icon.classList.add('fa-eye');
      }
    }
  
    function togglePasswordVisibility2() {
      const passwordInput = document.getElementById('password2');
      const icon = document.querySelector('.toggle-password2');
  
      if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        icon.classList.remove('fa-eye');
        icon.classList.add('fa-eye-slash');
      } else {
        passwordInput.type = 'password';
        icon.classList.remove('fa-eye-slash');
        icon.classList.add('fa-eye');
      }
    }

    function togglePasswordVisibility3() {
        const passwordInput = document.getElementById('password3');
        const icon = document.querySelector('.toggle-password3');
    
        if (passwordInput.type === 'password') {
          passwordInput.type = 'text';
          icon.classList.remove('fa-eye');
          icon.classList.add('fa-eye-slash');
        } else {
          passwordInput.type = 'password';
          icon.classList.remove('fa-eye-slash');
          icon.classList.add('fa-eye');
        }
      }
  </script>
  
{% endblock %}
