{% extends "base.html" %}
{% block title %}Change Username{% endblock %}
{% block content %}
<style>
  /* Style definitions for the icon that shows/hides the password */
  .field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    margin-right: 10px;
    margin-bottom: 3px;
    cursor: pointer;
  }

  form {
    max-width: 800px;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.8); /* RGBA for transparency */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional box shadow for a subtle lift */
  }
</style>

<!-- Form for changing the password -->
<form method="POST">
    <h3 align="center">Change Password</h3>

    <!-- Input field for the email address -->
    <div class="form-group">
      <label for="firstName">Email</label>
      <div style="font-size: 14px" id="info_text"></div>
      <input
        type="text"
        class="form-control"
        value="{{email}}"
        color="Black"
        disabled="true"
      />
    </div>

    <!-- Input field for the previous password -->
    <div class="form-group">
        <label for="password">Previous Password</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Old Password"
        />
        <!-- Button to toggle visibility of the previous password -->
        <span class="fa fa-fw fa-eye field-icon toggle-password1" onclick="togglePasswordVisibility1()"></span>
    </div>

    <!-- Input field for the new password -->
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="New Password"
      />
      <!-- Button to toggle visibility of the new password -->
      <span class="fa fa-fw fa-eye field-icon toggle-password2" onclick="togglePasswordVisibility2()"></span>
    </div>

    <!-- Input field to confirm the new password -->
    <div class="form-group">
      <label for="password2">Password (Confirm)</label>
      <input
        type="password"
        class="form-control"
        id="password3"
        name="password3"
        placeholder="Confirm new password"
      />
      <!-- Button to toggle visibility of the confirmation password -->
      <span class="fa fa-fw fa-eye field-icon toggle-password3" onclick="togglePasswordVisibility3()"></span>
    </div>
    <br />

    <!-- Button to change the password -->
    <button type="submit" class="btn btn-primary">Change</button>  
</form>

<script> 
  // Functions to toggle password visibility
  function togglePasswordVisibility1() {
    const passwordInput = document.getElementById('password1'); 
    const icon = document.querySelector('.toggle-password1');

    if (passwordInput.type === 'password') { 
      passwordInput.type = 'text';
      icon.classList.remove('fa-eye');
      icon.classList.add('fa-eye-slash');
    } else {
      passwordInput.type = 'password';
      icon.classList.remove('fa-eye-slash');
      icon.classList.add('fa-eye');
    }
  }

  function togglePasswordVisibility2() {
    const passwordInput = document.getElementById('password2');
    const icon = document.querySelector('.toggle-password2');

    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
      icon.classList.remove('fa-eye');
      icon.classList.add('fa-eye-slash');
    } else {
      passwordInput.type = 'password';
      icon.classList.remove('fa-eye-slash');
      icon.classList.add('fa-eye');
    }
  }

  function togglePasswordVisibility3() {
    const passwordInput = document.getElementById('password3');
    const icon = document.querySelector('.toggle-password3');

    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
      icon.classList.remove('fa-eye');
      icon.classList.add('fa-eye-slash');
    } else {
      passwordInput.type = 'password';
      icon.classList.remove('fa-eye-slash');
      icon.classList.add('fa-eye');
    }
  }
</script>

{% endblock %}
