{% extends "base.html" %}

{% block title %}Change Username{% endblock %}

{% block content %}
<style>
  /* Stildefinitionen für das Icon, das das Passwort verdeckt/zeigt */
  .field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    margin-right: 10px;
    margin-bottom: 3px;
    cursor: pointer;
  }
</style>
<!-- Formular zur Änderung des Benutzernamens -->
<form method="POST">
  <h3 align="center">Delete User</h3>

  <!-- Eingabefeld für den Benutzernamen -->
  <div class="form-group">
    <label for="firstName">Username</label>
    <div style="font-size: 14px" id="info_text"></div>
    <input
      type="text"
      class="form-control"
      value="{{user_name}}"
      color="Black"
      disabled="true"
    />
  </div>

  <!-- Eingabefeld für die E-Mail-Adresse -->
  <div class="form-group">
      <label for="password2">Email</label>
      <input
        type="text"
        class="form-control"
        value="{{email}}"
        disabled="true"
      />
  </div>

  <!-- Eingabefeld für das Passwort -->
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Password"
    />
    <!-- Schaltfläche zum Ein- und Ausblenden des Passworts -->
    <span class="fa fa-fw fa-eye field-icon toggle-password1" onclick="togglePasswordVisibility()"></span>
  </div>
  <br />

  <!-- Schaltfläche zum Löschen des Benutzers -->
  <button type="submit" class="btn btn-primary">Delete</button>  
</form>

<script>
// Funktion zum Anzeigen des vorherigen Benutzernamens
function show_text() {
  document.getElementById("info_text").innerText = "The previous Username has been: {{user_name}}";
}    

// Funktion zum Ein- und Ausblenden des Passworts
function togglePasswordVisibility() {
  const passwordInput = document.getElementById('password1'); 
  const icon = document.querySelector('.toggle-password1');

  if (passwordInput.type === 'password') { 
    passwordInput.type = 'text';
    icon.classList.remove('fa-eye');
    icon.classList.add('fa-eye-slash');
  } else {
    passwordInput.type = 'password';
    icon.classList.remove('fa-eye-slash');
    icon.classList.add('fa-eye');
  }
}
</script>
{% endblock %}
