{% extends "base.html" %}

{% block title %}Change Username{% endblock %}

{% block content %}
<style>
  .field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    margin-right: 10px;
    margin-bottom: 3px;
    cursor: pointer;
  }
</style>
  <form method="POST">
    <h3 align="center">Delete User</h3>
    <div class="form-group">
      <label for="firstName">Username</label>
      <div style="font-size: 14px" id="info_text"></div>
      <input
        type="text"
        class="form-control"
        value="{{user_name}}"
        color="Black"
        disabled="true"
      />
    </div>
    <div class="form-group">
        <label for="password2">Email</label>
        <input
          type="text"
          class="form-control"
          value="{{email}}"
          disabled="true"
        />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="Password"
      />
      <span class="fa fa-fw fa-eye field-icon toggle-password1" onclick="togglePasswordVisibility()"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Delete</button>  
  </form>

  <script>
    function show_text() {
      document.getElementById("info_text").innerText = "The previous Username has been: {{user_name}}";
    }    
  
    function togglePasswordVisibility() {
      const passwordInput = document.getElementById('password1'); 
      const icon = document.querySelector('.toggle-password1');
  
      if (passwordInput.type === 'password') { 
        passwordInput.type = 'text';
        icon.classList.remove('fa-eye');
        icon.classList.add('fa-eye-slash');
      } else {
        passwordInput.type = 'password';
        icon.classList.remove('fa-eye-slash');
        icon.classList.add('fa-eye');
      }
    }
  </script>
  
{% endblock %}
