{% extends "base.html" %}
{% block title %}Learning Results{% endblock %}
{% block content %}
<style>
    .try-container{
        text-align: center;
        margin-top: 21px;
    }
</style>
<head>
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    
    <h2 style="text-align: center; margin top: 20px">Erreichte Punktzahl: {{ correct_answers_count }}/{{sum}}</h2>

    <div id="chart-container" style="text-align: center; margin-top: 20px;"></div>

    <div class="try-container">
        <a href="{{ url_for('auth.reset_points', referrer = referrer) }}">Try again</a>
    </div>

    <script src="script.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            points = {{correct_answers_count}}
            rest = {{sum}} - {{correct_answers_count}}
            if (points == 0){
                var data = [rest];
                var colors = ['red'];
            }else{
                var data = [rest, points];
                var colors = ['red', 'green'];
            }
        
            // Größe des Diagramms
            var width = 350;
            var height = 350;
            var radius = Math.min(width, height) / 2;
        
            // SVG-Element erstellen
            var svg = d3.select("#chart-container")
                .append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");
        
            // Farbskala erstellen
            var color = d3.scaleOrdinal().range(colors);
        
            // Donut-Chart erstellen
            var pie = d3.pie();
            var arc = d3.arc().innerRadius(radius - 80).outerRadius(radius);
        
            // Elemente hinzufügen
            var arcs = svg.selectAll("arc")
                .data(pie(data))
                .enter()
                .append("g")
                .attr("class", "arc");
        
            arcs.append("path")
                .attr("d", arc)
                .attr("fill", function (d, i) {
                    return color(i);
                });
        
            // Text hinzufügen
            arcs.append("text")
                .attr("transform", function (d) {
                    return "translate(" + arc.centroid(d) + ")";
                })
                .attr("text-anchor", "middle")
                .text(function (d) {
                    return d.value;
                });
        });
        
    </script>
</body>

{%endblock%}