{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<style>
  /* Styling for the eye icon to toggle password visibility */
  .field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    margin-right: 10px;
    margin-bottom: 3px;
    cursor: pointer;
  }

  form {
    max-width: 800px;
    margin: 90px auto;
    background-color: rgba(255, 255, 255, 0.8); /* RGBA for transparency */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional box shadow for a subtle lift */
  }
</style>

<form method="POST">
  <h3 align="center">Login</h3>

  <!-- Input field for email -->
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>

  <!-- Input field for password -->
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
    />
    <!-- Eye icon to toggle password visibility -->
    <span class="fa fa-fw fa-eye field-icon" onclick="togglePasswordVisibility()"></span>
  </div>

  <!-- Link to reset password -->
  <div style="margin-bottom: 7px; font-size: 14px">
    <a href="{{ url_for('auth.reset_password') }}">Forgot password?</a>
  </div>

  <!-- Login button -->
  <button type="submit" class="btn btn-primary">Login</button>  
</form>

<!-- JavaScript function to toggle password visibility -->
<script>
  function togglePasswordVisibility() {
    const passwordInput = document.getElementById('password');
    const icon = document.querySelector('.toggle-password');

    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
      icon.classList.remove('fa-eye');
      icon.classList.add('fa-eye-slash');
    } else {
      passwordInput.type = 'password';
      icon.classList.remove('fa-eye-slash');
      icon.classList.add('fa-eye');
    }
  }
</script>

{% endblock %}
