{% extends "base.html" %}

{% block title %}Multi-Choice-Quiz{% endblock %}

{% block content %}

<style>
    /* Style for the image container */
    .image-container {
        padding-left: 400px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 40px;
        margin-bottom: 20px;
    }

    /* Style for the buttons */
    .button-81 {
        width: 370px;
        margin-top: 10px;
        background-color: #fff;
        border: 0 solid #e2e8f0;
        border-radius: 1.5rem;
        box-sizing: border-box;
        color: #0d172a;
        cursor: pointer;
        display: inline-block;
        font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1;
        padding: 1rem 1.6rem;
        text-align: center;
        text-decoration: none #0d172a solid;
        text-decoration-thickness: auto;
        transition: all .1s cubic-bezier(.4, 0, .2, 1);
        box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    /* Responsive design for the buttons */
    @media (min-width: 768px) {
        .button-81 {
            font-size: 1.125rem;
            padding: 1rem 2rem;
        }
    }

    /* Style for selected answer buttons */
    .selected {
        background-color: #2ecc71;
    }

    /* Style for wrong answer buttons */
    .wrong {
        background-color: #ff0000;
    }
</style>

<!-- Definition of countries for the quiz -->
{% set laender  = [land1, land2, land3, land4] %}

<!-- Headings and display for the number of quiz questions -->
<h2 style="text-align: center; margin-top: 15px"> {{quiz_name}} </h2>
<h4 style="text-align: center">{{discription}}</h4>
<p style="text-align: center; font-size: 21px">{{session["quiz_count"]}}/5</p>

<!-- Container for the image of the correct country -->
<div class="image-container">
    <div style="padding-top: 0px;">
        <img src="{{ url_for('static', filename= correctLand ) }}" width="300" height="180" style="border: 1px solid grey;">
    </div>
</div>

<!-- Display the number of correct answers -->
<div id="correctAnswersCount" style="text-align: center; font-size: 18px; margin-bottom: 10px"></div>

<!-- Buttons for selecting the answer -->
<div style="margin-bottom: 53px; text-align: center;"> 
    {% for i in laender %}
        {% set filename = i.split("/")[-1] %}
        {% set filename_without_extension = filename.split(".")[0] %}
        {% set filename_without_extension = filename_without_extension.replace('_', ' ')%}
        <button class="button-81" onclick="checkAnswer('{{ filename_without_extension }}', this)">{{ filename_without_extension }}</button>
    {% endfor %}
</div>


<!-- JavaScript code for quiz functionalities -->
<script>
    // Function to check the selected answer
    function checkAnswer(selectedAnswer, button) {
        // Check if the button is already selected or marked as wrong
        if (button.classList.contains('selected') || button.classList.contains('wrong')) {
            return;
        }

        // Get the correct answer from the server-side
        var correctAnswer = "{{ correctLand }}";
        var correctAnswerFilename = correctAnswer.split('/').pop();
        var correctAnswerWithoutExtension = correctAnswerFilename.split(".")[0].replace('_', ' ');

        // Send the selected answer to the server for verification
        fetch(`/check_answer/${selectedAnswer}`, { method: 'POST', body: new URLSearchParams({ correct_answer: correctAnswerWithoutExtension }), headers: { 'Content-Type': 'application/x-www-form-urlencoded' } })
            .then(response => response.json())
            .then(data => {
                // Mark the button as selected or wrong and refresh the page after a delay
                if (data.is_correct) {
                    button.classList.add('selected');
                    setTimeout(refreshPage, 3000);
                }
                if (!data.is_correct) {
                    button.classList.add('wrong');
                    setTimeout(refreshPage, 3000);
                }

                // Disable all buttons after selection
                var buttons = document.querySelectorAll('.button-81');
                buttons.forEach(btn => btn.disabled = true);

                // Display the number of correct answers
                var correctAnswersCountElement = document.getElementById('correctAnswersCount');
                correctAnswersCountElement.innerHTML = `Number of correct answers: ${data.correct_answers_count}`;
            })
            .catch(error => console.error('Error:', error));
    }

    // Function to refresh the page
    function refreshPage() {
        location.reload();
    }
</script>

{% endblock %}
