{% extends "base.html" %}
{% block title %}Profile Site{% endblock %}
{% block content %}

<!-- Styling der Seite -->
<style>
    body {
        background-color: #f9f9fa
    }
    
    .padding {
        padding: 3rem !important
    }
    
    .user-card-full {
        overflow: hidden;
    }
    
    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
        box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
        border: none;
        margin-bottom: 20px;
    }
    
    .m-r-0 {
        margin-right: 0px;
    }
    
    .m-l-0 {
        margin-left: 0px;
    }
    
    .user-card-full .user-profile {
        border-radius: 5px 0 0 5px;
    }
    
    .bg-c-lite-green {
        background: -webkit-gradient(linear, left top, right top, from(#006400), to(#008000));
        background: linear-gradient(to right, #006400, #008000);
    }
    
    .user-profile {
        padding: 20px 0;
    }
    
    .card-block {
        padding: 1.25rem;
    }
    
    .m-b-25 {
        margin-bottom: 25px;
    }
    
    .img-radius {
        border-radius: 5px;
    }
    
    
     
    h6 {
        font-size: 14px;
    }
    
    .card .card-block p {
        line-height: 25px;
    }
    
    @media only screen and (min-width: 1400px){
    p {
        font-size: 14px;
    }
    }
    
    .card-block {
        padding: 1.25rem;
    }
    
    .b-b-default {
        border-bottom: 1px solid #e0e0e0;
    }
    
    .m-b-20 {
        margin-bottom: 20px;
    }
    
    .p-b-5 {
        padding-bottom: 5px !important;
    }
    
    .card .card-block p {
        line-height: 25px;
    }
    
    .m-b-10 {
        margin-bottom: 10px;
    }
    
    .text-muted {
        color: #919aa3 !important;
    }
    
    .b-b-default {
        border-bottom: 1px solid #e0e0e0;
    }
    
    .f-w-600 {
        font-weight: 600;
    }
    
    .m-b-20 {
        margin-bottom: 20px;
    }
    
    .m-t-40 {
        margin-top: 20px;
    }
    
    .p-b-5 {
        padding-bottom: 5px !important;
    }
    
    .m-b-10 {
        margin-bottom: 10px;
    }
    
    .m-t-40 {
        margin-top: 20px;
    }
    
    .user-card-full .social-link li {
        display: inline-block;
    }
    
    .user-card-full .social-link li a {
        font-size: 20px;
        margin: 0 10px 0 0;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .user-card-full .card-block a {
        display: block;
        margin-bottom: 10px;
        padding: 8px;
        color: black;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .user-card-full .card-block a:hover {
        background-color: #e9ecef;
    }

    .col-sm-7 a {
        color: #18272F;
      position: relative;
      text-decoration: none;
    }
    
    .col-sm-7 a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: #18272F;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
    
    .col-sm-7 a:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
    
    
</style>

<!-- Hauptinhalt der Profilseite -->

<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-8 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <!-- Linker Bereich: Benutzerprofilbild und Hintergrundfarbe -->
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <!-- Benutzerprofilbild -->
                                <div class="m-b-25">
                                    <img src="{{ url_for('static', filename='blank-profile-picture-973460_960_720.webp') }}" class="img-radius" height="75px">
                                </div>
                                <!-- Benutzername und Rolle -->
                                {% set user_name_upper = user_name.upper() %}
                                <h6 class="f-w-600">{{ user_name_upper }}</h6>
                                <p>Normal User</p>
                                <!-- Bearbeiten-Icon -->
                                <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                            </div>
                        </div>
                        <!-- Rechter Bereich: Benutzerinformationen und Aktionen -->
                        <div class="col-sm-8">
                            <div class="card-block">
                                <!-- Abschnitt für allgemeine Informationen -->
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                <div class="row">
                                    <!-- Informationen wie Email und Name -->
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400">{{ user_email }}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Name</p>
                                        <h6 class="text-muted f-w-400">{{ user_name }}</h6>
                                    </div>
                                </div>
                                <!-- Abschnitt für Benutzerdaten und Aktionen -->
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">User Data</h6>
                                <div class="row">
                                    <!-- Informationen wie Level -->
                                    <div class="col-sm-5">
                                        <p class="m-b-10 f-w-600">Level</p>
                                        <h6 class="text-muted f-w-400">{{ level }}</h6>
                                    </div>
                                    <!-- Aktionen wie Ändern des Benutzernamens oder Passworts -->
                                    <div class="col-sm-7">
                                        <a href="{{ url_for('auth.changeUserName')}}" class="m-b-10 f-w-600" style="color: black; padding:3px;">Change User-Name</a>
                                        <a href="{{ url_for('auth.changeUserPassword')}}" class="m-b-10 f-w-600" style="color: black; padding:3px;">Change User-Password</a>
                                        <a href="{{ url_for('auth.deleteUser')}}" class="m-b-10 f-w-600" style="color: black; padding:3px;">Delete User</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}