{% extends "base.html" %}
{% block title %}Server-Quiz{% endblock %}
{% block content %}
    <style>
        #quizForm {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 10px;
            justify-content: center;
        }

        .flag-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .flag-container img {
            width: 250px;
            height: 150px;
            border: 2px solid grey;
        }

        #timer {
            text-align: center;
            font-size: 20px;
            margin-top: 20px;
        }

        input {
            padding: 16px;
            font-size: 16px;
            border: 2px solid #ccc;
            border-radius: 2px;
            box-sizing: border-box;
            height:20px;
            width: 250px;
        }
    </style>

    <h1 style="text-align: center">{{ quiz_name }}</h1>
    <h3 style="text-align: center; padding-bottom: 30px;">{{ description }}</h3>
    <button type="button" id="startButton" onclick="startQuiz()">Start</button>
    <button type="button" onclick="stopQuiz()">Stop</button>

    <button type="button" id="showAndHide" onclick="showAndHideAnswers()">Show Answers</button>
    
    <div id="timer"></div>

    <form id="quizForm">
        {% for i in country_names %}
            {% set path = '/flags/'+i+'.png' %} 
            <div class="flag-container">
                <img src="{{ url_for('static', filename = path) }}" alt="{{ i }}">
                <span><input type="text" name="countryInput" id="input{{ i }}" disabled></span>
            </div>
        {% endfor %}
    </form>

    <script>
        var inputs = document.getElementsByName('countryInput');
        var sAndHBotton = document.getElementById('showAndHide');
        var sButton = document.getElementById('startButton')
        var timer;
        var seconds = 0;
        var correct_answers = {{ country_names | tojson }};

        function startQuiz() { 
            seconds = 0;
            hideAnswers();
            for (var i = 0; i < inputs.length; i++) {
                inputs[i].removeAttribute('disabled');
            }

            sAndHBotton.setAttribute('disabled', 'disabled');
            sButton.setAttribute('disabled', 'disabled');

            startTimer();
        }

        function startTimer() {
            timer = setInterval(function () {
                seconds++;
                document.getElementById('timer').innerText = seconds + ' seconds';
            }, 1000);
        }

        function stopQuiz() {
            clearInterval(timer);
            document.getElementById('timer').innerText = 'Stopped at ' + seconds + ' seconds';
            for (var i = 0; i < inputs.length; i++) {
                inputs[i].setAttribute('disabled', 'disabled');
            }
            checkAnswers();
            
            sAndHBotton.removeAttribute('disabled');
            sButton.removeAttribute('disabled');
        }

        function checkAnswers() {
            for (var i = 0; i < inputs.length; i++) {
                var userAnswer = inputs[i].value.toLowerCase();
                var correctAnswer = correct_answers[i].toLowerCase();

                if (userAnswer !== correctAnswer) {
                    inputs[i].style.backgroundColor = 'red';
                } else {
                    inputs[i].style.backgroundColor = ''; 
                }
            }
        }

        function showAndHideAnswers() {
            var showAndHide = document.getElementById('showAndHide');
        
            if (showAndHide.innerHTML === 'Show Answers') {
                showAnswers();
            } else {
                hideAnswers();
            }
        }

        function showAnswers() {
            for (var i = 0; i < inputs.length; i++) {
                inputs[i].value = correct_answers[i];
            }
            document.getElementById('showAndHide').innerHTML = 'Hide Answers';
        }

        function hideAnswers() {
            for (var i = 0; i < inputs.length; i++) {
                inputs[i].value = '';
            }
            document.getElementById('showAndHide').innerHTML = 'Show Answers';
        }
    </script>
{% endblock %}
