{% extends "base.html" %}
{% block title %}Single Flag Quiz{% endblock %}
{% block content %}

<!-- Styles for the page -->
<style>
    .image-container {
        margin: 0px auto;
        padding-left: 350px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 40px;
    }

    .message-container {
        padding-top: 10px;
        text-align: center;
    }

    input {
        width: 400px;
        color: rgb(36, 35, 42);
        font-size: 16px;
        line-height: 20px;
        min-height: 28px;
        border-radius: 2px;
        padding: 8px 16px;
        margin-top: 5px;
        border: 2px solid transparent;
        box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
        background: rgb(251, 251, 251);
        transition: all 0.1s ease 0s;
        margin-left: 41%;
    }
</style>

<!-- Quiz content -->
<h2 style="text-align: center; margin-top: 20px">{{ quiz_name }}</h2>
<h4 style="text-align: center">{{ discription }}</h4>
<p style="text-align: center; font-size: 21px">{{ session["quiz_count"] }}/5</p>

<!-- Container for messages -->
<div class="message-container">
    <p id="resultMessage" style="display: none;">The right Answer would have been <b>{{ land_name }}</b></p>
</div>

<!-- Container for images -->
<div class="image-container">
    <div style="padding-top: 10px;">
        <!-- Display the quiz image -->
        <img src="{{ url_for('static', filename= land ) }}" width="400" height="240" style="border: 1px solid black; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);">
    </div>
</div>

<!-- User answer input field -->
<input type="text" id="input" onkeydown="handleKeyDown(event)" style="margin-bottom: 70px">

<!-- JavaScript code for quiz logic -->
<script>
    // Function to check user input
    function checkInput() {
        var inputElement = document.getElementById('input');
        var resultMessage = document.getElementById('resultMessage');

        inputElement.disabled = true;
        var answer = "{{ land_name }}";
        var input = document.getElementById('input').value;

        var correct_answer = answer.toLowerCase();
        var selectedAnswer = input.toLowerCase();

        // Send user answer to the server and process the response
        fetch(`/check_answer/${selectedAnswer}`, { method: 'POST', body: new URLSearchParams({ correct_answer: correct_answer }), headers: { 'Content-Type': 'application/x-www-form-urlencoded' } })
            .then(response => response.json())
            .then(data => {
                if (data.is_correct) {
                    inputElement.disable
                    setTimeout(refreshPage, 3000);
                }
                if (!data.is_correct) {
                    resultMessage.style.display = 'block';
                    inputElement.disable
                    setTimeout(refreshPage, 3000);
                }
                // Display the number of correct answers
                var correctAnswersCountElement = document.getElementById('correctAnswersCount');
                correctAnswersCountElement.innerHTML = `Number of correct answers: ${data.correct_answers_count}`;
            })
            .catch(error => console.error('Error:', error));
    }

    function handleKeyDown(event) {
        if (event.key === "Enter") {
            checkInput();
            console.log("hallo");
        }
    }

    function refreshPage() {
        location.reload();
    }
</script>

{% endblock %}
