{% extends "base.html" %}
{% block title %}Server-Quiz{% endblock %}
{% block content %}

<!-- Styles for the page -->
<style>
        #timer {
            text-align: center;
            font-size: 20px;
            margin-top: 20px;
        }

        .button-81 {
            background-color: #fff;
            border: 0 solid #e2e8f0;
            border-radius: 1.5rem;
            box-sizing: border-box;
            color: #0d172a;
            cursor: pointer;
            display: inline-block;
            font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
            font-size: 1.1rem;
            font-weight: 600;
            line-height: 1;
            padding: 1rem 1.6rem;
            text-align: center;
            text-decoration: none #0d172a solid;
            text-decoration-thickness: auto;
            transition: all .1s cubic-bezier(.4, 0, .2, 1);
            box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            }
    
            .button-81:hover {
            background-color: #1e293b;
            color: #fff;
            }
    
            @media (min-width: 768px) {
            .button-81 {
                font-size: 1.125rem;
                padding: 1rem 2rem;
            }
            }

            .button-81:disabled {
                background-color: #d3d3d3;
                color: #a0aec0;
                cursor: not-allowed; 
            }
            
            .button-81:hover:disabled {
                background-color: #d3d3d3; 
            }
            table {
                width: 100%;
                border-collapse: collapse;
                margin-top: 20px;
                background-color: white;
            }
        
            th, td {
                border: 1px solid #ddd;
                padding: 10px;
                text-align: left;
            }
        
            th {
                background-color: #f2f2f2;
                height: 35px;
            }
    
            input[type="text"] {
                width: 100%;
                padding: 8px;
                box-sizing: border-box;
                margin-bottom: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
        
            input[type="text"]:focus {
                border-color: #007bff; 
                outline: none;
            }
    
    </style>
    <!-- Form for the quiz -->
<form method="post">
    <h2 style="text-align: center; margin-top: 30px;">{{ quiz_name }}</h2>
    <h4 style="text-align: center; padding-bottom: 30px;">{{ description }}</h4>

    <!-- Buttons for quiz control -->
    <button class="button-81" type="button" id="startButton" onclick="startQuiz()">Start</button>
    <button class="button-81" type="button" id="stopButton" onclick="stopQuiz()" disabled>Stop</button>
    <button class="button-81" type="button" id="showAndHide" onclick="showAndHideAnswers()">Show Answers</button>
    <button class="button-81" type="button" style="margin-left: 630px" onclick="back()">X</button>

    <!-- Display for timer and point count -->
    <div id="timer"></div>
    <div id="point_count"></div>

    <!-- Table for questions and answers -->
    <table id="myTable" border="1">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tableBody">
            <!-- Table body content will be dynamically added with JavaScript -->
        </tbody>
    </table>
</form>

<!-- JavaScript code for quiz logic -->
    <script>
        var answerInputs = document.querySelectorAll('input[type="text"]');
        var sAndHBotton = document.getElementById('showAndHide');
        var sButton = document.getElementById('startButton');
        var stopButton = document.getElementById('stopButton');
        var timer;
        var seconds = 0;
        var points = 0;
        var dataList = {{country_data | tojson}};
        var newList = [];
        for (var x = 0; x < dataList.length; x++) {
            var value = dataList[x];
            newList.push(value);
            JSON.parse(newList.push(value));
        }


        function transformData(inputData) {
            var result = [];
        
            for (var i = 0; i < inputData.length; i++) {
                var countryData = inputData[i];
                var countryName = countryData[0];
                var countryCode = countryData[1];
                var cities = JSON.parse(countryData[2]);
        
                for (var j = 0; j < cities.length; j++) {
                    var cityName = cities[j];
                    result.push([countryName, cityName]);
                }
            }
        
            return result;
        }

        function addRowsToTable(dataList) {
            var tableBody = document.getElementById("tableBody");
            var numColumns = 4;
            var numRows = Math.ceil(dataList.length / numColumns);
        
            var answerInputs = [];
            var correctAnswers = [];
            var names = [];
        
            for (var i = 0; i < numRows; i++) {
                var row = document.createElement("tr");
        
                for (var j = 0; j < numColumns; j++) {
                    var dataIndex = i * numColumns + j;
                    var data = dataList[dataIndex];
                    var cell = document.createElement("td");
        
                    if (j === 1 || j === 3) {
                        var input = document.createElement("input");
                        input.type = "text";
                        input.className = "answerInput";
                        input.setAttribute("data-correct-answer", data[2]);
                        input.setAttribute("disabled", "disabled");
        
                        answerInputs.push(input);
                        correctAnswers.push(data[2].replace(/['\[\]]/g, ''));
        
                        cell.appendChild(input);
                    } else {
                        cell.textContent = data[0];
                    }
        
                    row.appendChild(cell);
                }
        
                tableBody.appendChild(row);
            }
        
            return { answerInputs, correctAnswers };
        }
        
        

        var { answerInputs, correctAnswers } = addRowsToTable(newList);

        function startQuiz() {
            seconds = 0;
            document.getElementById('point_count').innerText = "";
            document.getElementById('timer').innerText = "";
            hideAnswers();
            for (var i = 0; i < answerInputs.length; i++) {
                answerInputs[i].removeAttribute('disabled');
                answerInputs[i].style.backgroundColor = '';
            }

            sAndHBotton.setAttribute('disabled', 'disabled');
            sButton.setAttribute('disabled', 'disabled');
            stopButton.removeAttribute('disabled');

            startTimer();
        }

        function startTimer() {
            timer = setInterval(function () {
                seconds++;
                document.getElementById('timer').innerText = seconds + ' seconds';
            }, 1000);
        }

        function stopQuiz() {
            points = 0;
            clearInterval(timer);
            document.getElementById('timer').innerText = 'Stopped at ' + seconds + ' seconds';
            for (var i = 0; i < answerInputs.length; i++) {
                answerInputs[i].setAttribute('disabled', 'disabled');
            }
            checkAnswers(seconds);

            sAndHBotton.removeAttribute('disabled');
            sButton.removeAttribute('disabled');
            stopButton.setAttribute('disabled', 'disabled');
        }

        function checkAnswers(seconds) {
            var max_points = 0;
            for (var i = 0; i < answerInputs.length; i++) {
                var userAnswer = answerInputs[i].value.toLowerCase();
                var correctAnswer = correctAnswers[i].toLowerCase();
                max_points += 1;

                if (userAnswer !== correctAnswer) {
                    answerInputs[i].style.backgroundColor = 'red';
                } else {
                    answerInputs[i].style.backgroundColor = '';
                    points += 1;
                }
            }
            document.getElementById('point_count').innerText = points + ' out of possible ' + max_points + ' points';
            sendScore(seconds, points, max_points);
        }

        function showAndHideAnswers() {
            var showAndHide = document.getElementById('showAndHide');
        
            if (showAndHide.innerHTML === 'Show Answers') {
                showAnswers();
            } else {
                hideAnswers();
            }
        }
        
        function showAnswers() {
            for (var i = 0; i < answerInputs.length; i++) {
                answerInputs[i].value = correctAnswers[i];
            }
            document.getElementById('showAndHide').innerHTML = 'Hide Answers';
        }
        
        function hideAnswers() {
            for (var i = 0; i < answerInputs.length; i++) {
                answerInputs[i].value = '';
            }
            document.getElementById('showAndHide').innerHTML = 'Show Answers';
        }
        

        function sendScore(seconds, points, max_points) {
            var quizId = '{{ quizId }}';
            var score = points;
            var achievableScore = max_points;
            var needed_time = seconds;

            var url = '{{ url_for("auth.set_score") }}';

            var xhr = new XMLHttpRequest();
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");

            var data = JSON.stringify({
                quiz_id: quizId,
                score: score,
                achievable_score: achievableScore,
                needed_time: needed_time
            });

            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        console.log(xhr.responseText);
                    }
                }
            };

            xhr.send(data);
        }

        function back() {
            window.location.href = "{{ url_for('auth.serverQuizzesOverview') }}";
        }
    </script>
{% endblock %}
