{% extends "base.html" %}
{% block title %}Text Quiz{% endblock %}
{% block content %}
<style>
    .input-container {
        margin-left: 40px;
        padding-top: 30px;
        padding-left: 400px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 40px;
    }

    /* Verstecke das p-Element standardmäßig */
    #result-message {
        display: none;
        text-align: center;
        margin-top: 20px;
        color: red;  /* Füge rote Farbe für eine Fehlermeldung hinzu */
    }
</style>

<h1 style="text-align: center">{{quiz_name}}</h1>
<h3 style="text-align: center">{{discription}}</h3>

<div class="input-container">
    <input type="text" id="input" onkeydown="handleKeyDown(event)">
</div>

<!-- Das p-Element für die Ergebnisnachricht -->
<p id="result-message">The right Answer would have been {{answer}}</p>

<script>
    function checkInput() {
        var inputElement = document.getElementById('input');
        var resultMessage = document.getElementById('result-message');

        inputElement.disabled = true;

        var answer = "{{answer}}";
        var input = inputElement.value;

        var correct_answer = answer.toLowerCase();
        var selectedAnswer = input.toLowerCase();

        fetch(`/check_answer/${selectedAnswer}`, { method: 'POST', body: new URLSearchParams({ correct_answer: correct_answer }), headers: { 'Content-Type': 'application/x-www-form-urlencoded' } })
            .then(response => response.json())
            .then(data => {
                // Zeige das p-Element nur an, wenn die Antwort falsch ist

                if (data.is_correct) {
                    inputElement.disable
                    setTimeout(refreshPage, 3000);
                }
                if (!data.is_correct) {
                    resultMessage.style.display = 'block';
                    inputElement.disable
                    setTimeout(refreshPage, 3000);
                }

                // Anzeigen der Anzahl der richtigen Antworten statt eines Popups
                var correctAnswersCountElement = document.getElementById('correctAnswersCount');
                correctAnswersCountElement.innerHTML = `Anzahl der richtigen Antworten: ${data.correct_answers_count}`;
            })
            .catch(error => console.error('Error:', error));
    }

    function handleKeyDown(event) {
        if (event.key === "Enter") {
            checkInput();
        }
    }

    function refreshPage() {
        location.reload();
    }
</script>
{% endblock %}
