{% extends "base.html" %}
{% block title %}50/50 Quiz{% endblock %}
{% block content %}

<!-- Styles for buttons and container -->
<style>
    /* Container für die Schaltflächen */
    .button-container {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        border: light-grey 1px;
    }

    /* Stil für die Schaltflächen */
    .flag-button {
        background: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }
</style>

<!-- Styles for buttons and container -->
<style>
    /* Container for buttons */
    .button-container {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

    /* Style for buttons */
    .flag-button {
        background: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }
</style>

<!-- Quiz heading -->
<h2 style="text-align: center">{{ quiz_name }}</h2>

<!-- Question and current points display -->
<h4 style="text-align: center" id="questionText">Which Flag is: {{ random_county_name }}</h4>
<h4 style="text-align: center">{{ points }}</h4>

<!-- Container for buttons -->
<div class="button-container">
    <!-- Button 1 with image and click event -->
    <button id="button1" class="flag-button" onclick="checkInput('{{correctLandName}}')">
        <img src="{{ url_for('static', filename=correctLand) }}" width="450" height="250">
    </button>
    <!-- Button 2 with image and click event -->
    <button id="button2" class="flag-button" onclick="checkInput('{{incorrectLandName}}')">
        <img src="{{ url_for('static', filename=incorrectLand) }}" width="450" height="250">
    </button>
</div>

<!-- Display for the current quiz question -->
<p style="text-align: center; font-size: 21px; margin-bottom: 20%;">{{session["quiz_count"]}}/5</p>

<!-- JavaScript code for quiz logic -->
<script>
    // Function to check the selected answer
    function checkInput(buttonPressed) {
        var correctLandName = "{{ random_county_name }}";
        var questionText = document.getElementById('questionText');

        // Deactivading Elements, to avoid Multi-Select
        document.getElementById('button1').disabled = true;
        document.getElementById('button2').disabled = true;

        selectedAnswer = buttonPressed.toLowerCase();
        correct_answer = correctLandName.toLowerCase();

        fetch(`/check_answer/${selectedAnswer}`, { 
            method: 'POST', 
            body: new URLSearchParams({ correct_answer: correct_answer }), 
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' } 
        })
        .then(response => response.json())
        .then(data => {
            // Handling Serverresponse
            if (data.is_correct) {
                questionText.innerText = "That's correct!";
                questionText.style.color ="#298A08";

                setTimeout(refreshPage, 3000);
            } 
            if (!data.is_correct) {
                questionText.innerText = "That's wrong!";
                questionText.style.color ="red";

                setTimeout(refreshPage, 3000);
            }
        })
        .catch(error => console.error('Error:', error));
    }

    function refreshPage() {
        location.reload();
    }
</script>

{% endblock %}
