<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="latin1">
    <title>World Map</title>
    <style>
    </style>
</head>
<body>
    <h1>World Map</h1>
    <form method="post">
        <label for="country">Enter a country:</label>
        <input type="text" id="country" name="country" required>
        <button type="submit">Submit</button>
        <button type="button" id="reset-button">Reset</button>
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <div id="svg-container" />
    <script>
    fetch('{{ url_for("static", filename="custom_map.svg") }}')
        .then(response => response.text())
        .then(data => {
            document.getElementById('svg-container').innerHTML = data;
        });

    // Add event listener for the reset button
    document.getElementById('reset-button').addEventListener('click', function() {
        // Send an AJAX request to reset the selected_countries list
        fetch('/reset')
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Reload the page to update the UI
                    location.reload();
                }
            });
    });
    </script>
</body>
</html>
